<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ustok.checklist.protocol.internal.ui.editor.general.ProtocolEditor"
            default="false"
            extensions="clprotocol"
            icon="icons/page_white_put.png"
            id="org.ustok.checklist.protocol.internal.ui.editor.general.ProtocolEditor"
            name="Protocol Editor">
      </editor>
      <editor
            class="org.ustok.checklist.internal.ui.editor.ChecklistEditor"
            contributorClass="org.ustok.checklist.internal.ui.editor.ChecklistEditorActionBarContributor"
            default="false"
            extensions="cl"
            icon="icons/page_white_key.png"
            id="org.ustok.checklist.internal.ui.editor.ChecklistEditor"
            name="Checklist Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            id="org.ustok.checklist.ui.editingDomain">
      </editingDomain>
   </extension>

</plugin>
