<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2013 by Ustok.org.
 All rights reserved.
 
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Protocol -->
      <package
            uri="org.ustok.checklist.core.model.protocol"
            class="org.ustok.checklist.core.model.protocol.ProtocolPackage"
            genModel="model/Protocol.xcore"/>
   </extension>

</plugin>
